<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
  <package id="Rebex.Common" version="2.5.6339" targetFramework="net452" />
  <package id="Rebex.Imap" version="2.0.6339" targetFramework="net452" />
  <package id="Rebex.Mail" version="2.0.6339" targetFramework="net452" />
  <package id="Rebex.Networking" version="3.5.6339" targetFramework="net452" />
  <package id="S22.Imap" version="3.6.0.0" targetFramework="net452" />
</packages>